.productManage {
  position: relative;
  // 添加商品按钮
  .addProduct {
    position: absolute;
    right: 1rem;
    top: 1rem;
  }

  // 修改的antd中的td的格式，为了移动端表头不换行
  .ant-table-row {
    .ant-table-cell {
      &:nth-child(1) {
        min-width: 5rem;
      }
      &:nth-child(2) {
        min-width: 8rem;
      }
    }
  }

  // 状态列和操作列的样式
  .optionWrap,
  .statusWrap {
    display: flex;
    justify-content: space-between;

    // 状态列和操作列的子元素的样式
    .option,
    .status {
      box-sizing: border-box;
      padding: 0 2px;
      @media screen and (max-width: 578px) {
        &:first-child {
          padding-right: 10px;
        }
        white-space: nowrap;
      }
    }
    // 状态列中子元素的点击的样式
    .active {
      color: #fff;
      background: #f37a7a;
    }
  }
}
