.orderDetail {
  .submit {
    @media screen and (max-width: 578px) {
      // antd中的样式
      .ant-col {
        margin-left: 0;
      }
    }
  }
  // 修改的antd中的td的格式，为了移动端表头不换行
  .ant-table-row {
    .ant-table-cell {
      &:nth-child(1) {
        min-width: 5rem;
      }
      &:nth-child(2) {
        min-width: 7rem;
      }
      &:nth-child(4) {
        min-width: 4rem;
      }
    }
  }
}
