.productManage {
  position: relative;
  // 添加商品按钮
  .addProduct {
    position: absolute;
    right: 1rem;
    top: 1rem;
  }

  .order_statusWrapper {
    display: flex;
    justify-content: space-around;
    .checked {
      padding: 0 2px;
      color: #fff;
      background: #f28f8f;
      box-shadow: 0px 1px 4px 0px #801d1d;
    }
  }

  // 修改的antd中的td的格式，为了移动端表头不换行
  .ant-table-row {
    .ant-table-cell {
      &:nth-child(1) {
        min-width: 5rem;
      }
      &:nth-child(2) {
        min-width: 5rem;
      }
      &:nth-child(3) {
        min-width: 7rem;
      }
      &:nth-child(4) {
        min-width: 7rem;
      }
      &:nth-child(5) {
        min-width: 7rem;
      }
    }
  }
}
